.main {
	width: 100%;
	background-color: var(--bg);
	padding: 5rem 0 0 0;

	> .heading {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin: 0 0 1rem 0;

		> h2 {
			font-size: 19vw;
			font-weight: 400;
			font-family: 'Neue';
			color: white;
			line-height: 90%;
		}

		> p {
			width: 100%;
			font-size: 0.85vw;
			font-weight: 400;
			font-family: 'Neue';
			color: #ffffff64;
			letter-spacing: 0.2rem;
			text-align: right;
			padding: 0 10rem;
			margin: 0.5rem 0;
		}
	}

	> .projectWrapper {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 2rem;

		> .project {
			width: 47%;

			> .imageWrapper {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				border-radius: 2rem;
				overflow: hidden;

				> img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.bottom {
				height: 5rem;
				padding: 0 1.25rem;
				display: flex;
				align-items: center;
				justify-content: space-between;

				> a {
					font-size: 1.2rem;
					font-weight: 400;
					font-family: 'Chillax';
					color: #ffffff;
					text-decoration: none;
					transition: color 0.3s;
					position: relative;

					&:hover {
						&::after {
							width: 100%;
						}
					}

					&::after {
						content: '';
						position: absolute;
						bottom: -3px;
						left: 0;
						width: 0%;
						height: 1px;
						background-color: #ffffff76;
						transition: width 0.3s;
					}
				}

				> p {
					font-size: 1.2rem;
					font-weight: 400;
					font-family: 'Chillax';
					color: #ffffff;
				}
			}
		}
	}
}
