@font-face {
	font-family: 'Chillax';
	font-style: normal;
	font-weight: 600;
	src: url('../../Fonts/Chillax-Bold.otf')
		format('opentype');
}

@font-face {
	font-family: 'Chillax';
	font-style: normal;
	font-weight: 500;
	src: url('../../Fonts/Chillax-Semibold.otf')
		format('opentype');
}

@font-face {
	font-family: 'Chillax';
	font-style: normal;
	font-weight: 400;
	src: url('../../Fonts/Chillax-Regular.otf')
		format('opentype');
}

@font-face {
	font-family: 'Chillax';
	font-style: normal;
	font-weight: 300;
	src: url('../../Fonts/Chillax-Light.otf')
		format('opentype');
}

@font-face {
	font-family: 'Chillax';
	font-style: normal;
	font-weight: 200;
	src: url('../../Fonts/Chillax-ExtraLight.otf')
		format('opentype');
}

@font-face {
	font-family: 'Chillax';
	font-style: normal;
	font-weight: 100;
	src: url('../../Fonts/Chillax-Thin.otf')
		format('opentype');
}

@font-face {
	font-family: 'Satoshi';
	font-style: normal;
	font-weight: 600;
	src: url('../../Fonts/Satoshi-Bold.otf')
		format('opentype');
}

@font-face {
	font-family: 'Satoshi';
	font-style: normal;
	font-weight: 400;
	src: url('../../Fonts/Satoshi-Regular.otf')
		format('opentype');
}

@font-face {
	font-family: 'Satoshi';
	font-style: normal;
	font-weight: 300;
	src: url('../../Fonts/Satoshi-Light.otf')
		format('opentype');
}

@font-face {
	font-family: 'Satoshi';
	font-style: normal;
	font-weight: 200;
	src: url('../../Fonts/Satoshi-ExtraLight.otf')
		format('opentype');
}

@font-face {
	font-family: 'Neue';
	font-style: normal;
	font-weight: 600;
	src: url('../../Fonts/Neue/NeueHaasDisplayBold.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Neue';
	font-style: normal;
	font-weight: 500;
	src: url('../../Fonts/Neue/NeueHaasDisplayMediu.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Neue';
	font-style: normal;
	font-weight: 400;
	src: url('../../Fonts/Neue/NeueHaasDisplayRoman.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Neue';
	font-style: normal;
	font-weight: 300;
	src: url('../../Fonts/Neue/NeueHaasDisplayLight.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Neue';
	font-style: normal;
	font-weight: 200;
	src: url('../../Fonts/Neue/NeueHaasDisplayExtraLight.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Neue';
	font-style: normal;
	font-weight: 100;
	src: url('../../Fonts/Neue/NeueHaasDisplayThin.ttf')
		format('truetype');
}
