.main {
	background-color: var(--bg);
	display: flex;
	// justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	padding: 0 2rem 5rem 2rem;

	> .heading {
		width: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		flex-direction: column;
		margin: 0 0 1rem 0;

		h2 {
			width: 100%;
			font-size: 19vw;
			font-weight: 400;
			color: white;
			line-height: 90%;
			text-align: center;
		}

		> .smallInfo {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin: 0 4rem 0 0;
			gap: 0.5rem;

			&:hover {
				> svg {
					color: #ffffffb8;
				}
			}

			p {
				font-size: 0.85vw;
				font-weight: 400;
				color: #ffffff49;
				line-height: 90%;
				letter-spacing: 0.2rem;
				text-align: center;
				padding: 0;
				text-transform: uppercase;
			}

			> svg {
				font-size: 1.75vw;
				color: #ffffffdc;
				transition: all 0.35s ease-in-out;
				transform: rotate(90deg);
			}
		}
	}

	> .dataWrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		gap: 2rem;
		padding: 0 1.5rem;
		margin: 2rem 0 0 0;

		> p {
			font-size: 1.5vw;
			line-height: 1.5;
			font-family: 'Chillax';
			text-align: justify;
			color: #ffffffb3;
		}
	}
}
